# ---------------------------------------
# Miscellaneous
# ---------------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# ---------------------------------------
# IntelliJ related
# ---------------------------------------
*.iml
*.ipr
*.iws
.idea/

# ---------------------------------------
# VS Code related (uncomment if you want to ignore workspace settings)
# ---------------------------------------
#.vscode/

# ---------------------------------------
# Flutter/Dart/Pub related
# ---------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Additional Flutter build directories
android/app/debug/
android/app/profile/
android/app/release/

# Other platform-specific ephemeral/build artifacts
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Podfile.lock
macos/Flutter/ephemeral
windows/flutter/ephemeral
linux/flutter/ephemeral
web/.dart_tool/
web/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Coverage
coverage/
